@{
    ViewBag.Title = "About";
}
<h2>Meet Shathar.</h2> 

<p>Insert funny and smart fluff here</p>

<a href="https://linkedin.com/in/shatharcampbell/">LinkedIn</a>
<br />

<a href="https://github.com/campbell88">GitHub</a> 
